@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

Please Reference the KSC <a href="http://pulse.kscpulse.com/it/infosec/Pages/Policies-and-Procedures.aspx">Privacy Policy</a> on The Pulse
and in particular the <a href="http://pulse.kscpulse.com/it/infosec/Lists/Policy%20and%20Procedures/SP.019%20Workstation%20and%20Device%20Usage.pdf">SP.019 Workstation and Device Usage</a> policy.